body {
  font-family: Arial, Helvetica, sans-serif;
}

.table-light {
  --bs-table-bg: #394151 !important;
  --bs-table-border-color: #272f3d;
  --bs-table-color: white;
}

.table {
  --bs-table-bg: #212937;
  --bs-table-color: white;
  --bs-table-border-color: #272f3d;
  --bs-table-active-bg: #272f3d;
}

/* .table-responsive {
    overflow-y: scroll !important;
} */

tr {
  text-align: center;
}

.modal-content,
.offcanvas {
  background-color: #272f3d !important;
  color: white;
}

th,
td {
  vertical-align: baseline;
}

.pagination {
  --bs-pagination-active-bg: auto;
}

.product-main-board{
  height: 50rem;
  overflow-y: scroll;
}