body {
  font-family: Arial, Helvetica, sans-serif;
}

.table-light {
  --bs-table-bg: #394151 !important;
  --bs-table-border-color: #272f3d;
  --bs-table-color: white;
}

.table {
  --bs-table-bg: #212937;
  --bs-table-color: white;
  --bs-table-border-color: #272f3d;
  --bs-table-active-bg: #272f3d;
}
