.register-image{
    background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
}

.card-shadows{
    margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
}