/* Style for header component */
.header {
    border-bottom: 2px solid #272f3d;
    padding: 1rem;
    height: 10%;
}

.app-info {
    width: 15%;
    float: left;
    border-right: 2px solid #272f3d;
}

.logo {
    width: 3rem;
    height: 3rem;
    background-image: url('./online-shopping.png');
    background-repeat: no-repeat;
}

.store-info {
    width: 85%;
}

.search-box {
    border: 1px solid #394151;
    padding: 3px 10px;
    border-radius: 9px;
    background-color: #394151;
    width: 30rem;
}

.search-box input[type='text'] {
    background-color: #394151;
    border: none;
    color: white;
    outline: 0;
    width: 100%;
}

.search-box input[type='text']::placeholder {
    color: white;
}

.search-box input[type='text']::-ms-input-placeholder {
    color: white;
}

.search-box input::focus {
    outline: none !important;
}

.store-name {
    border-left: 1px solid #394151;
}

/* Style for dashboard component */
.main-board {
    height: 90vh;
}
.dashboard {
    width: 15%;
    height: 100%;
    border-right: 1px solid #394151;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #394151;
}

.accordion-button,
.accordion-body {
    background-color: #212937 !important;
    color: white !important;
}

.account-info {
    border-top: 1px solid #394151;
    padding: 1rem;
    margin-bottom: 3rem;
}

a.menu-item {
    width: 100%;
    border: none !important;
    text-align: left;
    color: white !important;
    text-decoration: none;
}

.btn-sign-out {
    border: none !important;
    text-align: center !important;
    padding: 1rem;
}

.main-data{
    border: .3rem solid #394151;
    border-radius: 9px;
    width: 85%;
    padding: .4rem;
}